.row {
    align-items: baseline;
    margin: 0.5em 0;
}

ul {
    width: 100%;
}

ul.tags li {
    display: block;
    margin: 0.4em 1em;
}

ul.simple-nav li, nav.simple li {
    border-top: none;
    border-bottom: none;
}

ul.simple-nav, nav.simple ul {
    border-bottom: none;
    border-top: none;
}

.github-logo {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
}

a {
    color: inherit;
}

.little-menu {
    margin: 0 1rem;
    transform: translate(0, 6rem);
}

@media only screen and (max-width: 600px) {
    .container-fluid {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .little-menu {
        transform: none;
    }
}

.heavy {
    margin: 0.5em 0;
}

div .jagged {
    margin: 2.5em 0 0 0;
}

.custom-padding {
    margin: 0 0.5em;
    padding: 0 0.25em;
}